:root {
    font-family: "Poppins", sans-serif;
    --blue-color: rgb(29, 190, 253);
    --grey-color: rgb(128, 128, 128);
    --grey2-color: rgb(60, 60, 60);
    --grey3-color: rgb(209, 209, 209);
    --white-color: rgb(255, 255, 255);
    --black-color: rgb(0, 0, 0);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(135deg, var(--grey-color), var(--black-color));
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: var(--white-color);
}
.link:hover {
    text-decoration: underline;
}
